.custom-widget {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 10px;
  color: #444;
  background-color: white;
  padding: 0 2px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

.error-box {
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}
